* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body,
#producers-title {
  background-color: rgb(232, 230, 230);
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#left-column,
#right-column {
  flex: 1 0 200px;
  height: 100vh;
}
#left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#right-column {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#producers-title {
  position: relative;
  top: 9px;
  font-size: 20px;
}

#producer-shop {
  flex: 1 0;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

#coffee-count {
  font-size: 20px;
  margin-bottom: 3px;
}

#coffee-rate {
  font-size: 17px;
  margin-bottom: 10px;
}

img {
  height: 150px;
}

/* Producer tag styling */
.producer {
  margin: 10px;
  border: 2px solid rgb(129, 127, 127);
  border-radius: 3px;
  display: flex;
  flex: 1 0;
  justify-content: space-between;
}

.producer-name,
.producer-info {
  margin: 10px;
}

.producer-name {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.producer-name > button {
  margin-top: 5px;
  width: 50px;
}

.producer-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
